# Entorno virtual
envQA/
venv/
.env

# Base de datos
*.db

# Cache
__pycache__/
*.pyc

# Outputs
output/
reports/

# IDE
.vscode/
.idea/

# Respaldo / backup
*.bak
*.backup
*.resp
*.resp2
*.resp3
*.resp4

# OS
Thumbs.db
.DS_Store

#informepdf
trendqa/services/pdf_export.py
